a {
  text-decoration: none;
  color: rgb(0, 0, 238);
  border-bottom: 1px solid !important;
  border-bottom-color: rgba(0, 0, 238, 0.3) !important;
}
a:visited {
  color: rgb(85, 26, 139);
  border-bottom-color: rgba(85, 26, 139, 0.3) !important;
}
a:hover {
  color: #ff0000;
  border-bottom-color: rgba(255, 0, 0, 0.3) !important;
}

/*
  Next.js adds quite a few containers to the top of the tree.
  The compexity of this might reduce in newer version of the framework
  with adoption of React 16.
  */

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  min-width: 500px;
  position: relative;
  font: 13px/20px Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

.next-main {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  display: table;
}
#__next {
  width: 100%;
  height: 100%;
  position: relative;
  display: table-row;
}
#__next-error {
  display: table-row;
  height: 0;
}
#__next > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
